@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --white: #FFFFFF;
    --dark1: #1f1f1f;
    --dark2: #191919;
    --green: #28e98c;
    --yellow: #e4af12;
    --orange: #fe6f1d;
    --light-blue: #14c5fd;
    --dark-blue: #1338f3;
    --gray: #c0c0c0;
    --red: #f31313;
    --pink: #ff99cc;

    --transition02: all 0.2s linear;
    --transition03: all 0.3s linear;
    --transition05: all 0.5s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #999999;
    scroll-behavior: smooth;
}
.hover01 {
    transition: var(--transition02);
}
.hover01:hover {
    color: var(--green) !important;
    border-color: var(--green) !important;
}
.hover02 {
    transition: var(--transition02);
}
.hover02:hover {
    border-color: var(--green) !important;
}
.hover03 {
    transition: var(--transition02);
}
.hover03:hover {
    color: var(--green) !important;
}
/* BODY-OVERLAY */
.body-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
}

/* LAYER ON BODY-OVERLAY */
.layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.8);
    z-index: -999;
    pointer-events: none;
}

/* SETTING */
.theme-switcher {
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 100;
}
.theme-switcher .setting {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: #1f1f1f;
    color: #c1c1c1;
}
.theme-switcher .setting i {
    animation: rotation360 3s infinite linear;
}
@keyframes rotation360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

/* CONFIGURATION-BAR */
#config-bar {
    width: 66.25rem;
    background: var(--dark2);
    color: var(--white);
    padding: 3.5rem 6rem;
}
.config-bar-close {
    position: absolute;
    font-size: 1.2rem;
    color: var(--white);
    top: 1.2rem;
    right: 1.2rem;
}
.offcanvas-title {
    margin: 0 0 4rem 0;
}
.offcanvas-body p {
    font-size: 0.813rem;
    margin-bottom: 1.563rem;
}
.color-switch:nth-child(1) {
    color: var(--green);
}
.color-switch:nth-child(2) {
    color: var(--yellow);
}
.color-switch:nth-child(3) {
    color: var(--orange);
}
.color-switch:nth-child(4) {
    color: var(--light-blue);
}
.color-switch:nth-child(5) {
    color: var(--gray);
}
.color-switch:nth-child(6) {
    color: var(--dark-blue);
}
.color-switch:nth-child(7) {
    color: var(--red);
}
.color-switch:nth-child(8) {
    color: var(--pink);
}
.themes ul {
    margin-top: 3rem;
}
.config-heading {
    font-size: 0.913rem;
    letter-spacing: 0.05rem;
}
.themes li video {
    height: 7rem;
}

/* RIBBON */
.ribbon {
    position: fixed;
    top: -1rem;
    right: -1rem;
    padding: 0.5rem 4.063rem;
    text-align: center;
    color: var(--dark1);
    background: #F1F2B5;
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);
    background: linear-gradient(to right, #135058, #F1F2B5);
    font-size: 1.125rem;
    transform: translateX(3.438rem);
    rotate: 40deg;
}
/* MENU-BAR CONTROLLER */
.menu-bar-control {
    right: 4rem;
    top: 4rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #575757;
    transition: var(--transition03);
    background: #1f1f1f;
    color: var(--white);
    font-size: 1.8rem;
    z-index: 99;
}
/* MENU-BAR */
#menu-bar {
    width: 21.563rem;
    background-color: var(--dark2);
}